.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f3e9;
  padding: 20px;
  font-family: Arial, sans-serif;
  
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
  color: #b22234;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.customer-service p {
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    width: 100%;
  }
}





