.carousel-container {
  width: 100%;
  height: 100vh; /* Full Screen Height */
  margin: 0;
  padding: 0;
  /* overflow: auto; */
}

.slider-image {
    max-height: 800px; 
    object-fit: cover;  
  }

@media screen and (max-width: 768px) {
  .slider-image {
    height: 80vh; 
  }
}
